/* Style Settings */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap'); */

@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
:root {
    --font: 'Karla', 'Karla', sans-serif;
}

body {
    background: url('../images/bg2.jpg');
    background-color: rgb(10,10,10); 

    /* uigradients.com/#DeepSpace */
/*    background: #000000;  /* fallback for old browsers */
  /*  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

/* default 
#userPhoto {
    width: 100px;
    height: 100px;
    display: block;
    margin: 10px auto;
    border-radius: 20%;
} */

/* circle */
#userPhoto {
    width: 100px;
    height: 100px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
}

#userName {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#userName h1 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin: 0 auto;
}

#userName p {
    font-weight: 300;
    margin-top: 5px;
    text-transform: none;
}

i.fa {
    margin-right: 0.3rem;
}

#links {
    max-width: 500px;
    width: auto;
    display: block;
    margin: 20px auto;
}

.link {
    display: block;
    background-color: rgba(66, 110, 255, 0.2);
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border-radius: 10px;

}

.link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000000;
    border: none;
}

/* My Custom */

.footer {
    text-align: center;
    font-size: 1.3rem;
}

.footer a {
    text-decoration: none;
}

.circulo {
    background: rgb(221, 221, 221);
    border-radius: 52px;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 10px;
    color: rgb(32, 32, 32);
}

.shake {
	animation: shake-animation 4.72s ease infinite;
	transform-origin: 50% 50%;
  }
